.container {
    max-width: 120rem;
    margin: 8rem auto; //center in parent
    background-color: var(--color-grey-light-1);
    box-shadow: var(--shadow-dark);
    min-height: 50rem;
}

.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--line);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    display: flex;
}

.sidebar {
    background-color: var(--color-grey-dark-1);
    // flex-grow: 0;
    // flex-shrink: 0;
    // flex-basis: 18%; //width should be 18% of parent container width
    flex: 0 0 18%; //shortened
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotel-view {
    background-color: #fff;
    flex: 1;//grow to fill the remaining space
}

.detail {
    font-size: 1.4rem; //children will now inherit this font size (description and user review sections)
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom: 1var(--line);
}

.description {
    background-color: #fff;
    box-shadow: var(--shadow-light);
    padding: 3rem;
    flex: 0 0 60%;
    margin-right: 4.5rem;
}

.user-reviews {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}