.container {
    max-width: 120rem;
    margin: 8rem auto; //center in parent
    background-color: var(--color-grey-light-1);
    box-shadow: var(--shadow-dark);
    min-height: 50rem;
}

.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--color-grey-light-2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    display: flex;
}

.sidebar {
    background-color: var(--color-grey-dark-1);
    // flex-grow: 0;
    // flex-shrink: 0;
    // flex-basis: 18%; //width should be 18% of parent container width
    flex: 0 0 18%; //shortened
}

.hotel-view {
    background-color: #fff;
    flex: 1;//grow to fill the remaining space
}